.header{
    display: flex;
    justify-content: space-between;
    background: #1F2937;
    align-items: center;
    padding:10px;
    margin-bottom: 100px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: #e5e7eb;
}

.header-links{
    display: flex;
    list-style-type: none;
    gap:16px;
}

.container{
    width:80%;
    margin:0 auto;
}

.header-info{
    background: #1F2937;
}

.main{
    display: flex;
    padding-bottom: 100px;
    gap:20%;
}

.main-left{
    display: flex;
    width:40%;
    gap:10px;
    flex-direction: column;
}

.main-title{
    font-size: 48px;
    color:#f9faf8;
    font-weight: bolder;
}

.main-text{
    font-size: 18px;
    color:#e5e7eb
}

.main-button{
    border:solid 3px white;
    font-size:16px;
    font-weight: 600;
    color:white;
    padding:8px;
    background: #1F2937;
    border-radius: 8px;
    width:100px;
    flex-shrink: 0;
}

.info-title{
    text-align: center;
    color:#1F2937;
    font-size: 36px;
    padding:40px;
    font-weight: bold;
}

.image-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
}

.image{
    border:solid 5px blue;
    border-radius: 8px;
    height:150px;
    width:150px;
}

.text{
    text-align: center;
    padding:10px;
    width:150px;
}

.information{
    margin-bottom: 100px;;
}

.quote{
    background: grey;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote-content{
    font-size: 36px;
}

.quote-author{
    font-size: 30px;
    padding-left: 70%;
}

.modal-container{
    display:flex;
    gap:50px;
    padding:50px 100px;
    background:lightblue;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}

.modal-title{
    font-size: 26px;
    font-weight: bold;
    color:white;
}

.modal-text{
    font-size: 20px;
    color:white;
}

.modal{
    margin-top: 100px;
    margin-bottom: 100px;
}

.modal-left{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.modal-button{
    border:solid 5px white;
    color:white;
    background: lightblue;
    padding:8px;
    height:200%;
    width:200%;
    border-radius: 8px;
    font-size: 20px;
}

.footer{
    height:72px;
    background: #1F2937;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
}